@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

svg{
    width:84%;
}

.container{
    width:40%;
    height:500px;
    margin-top:5%;
    margin-right:15%;
    padding: 10%;
    float:right;
    border-radius:50px;
    background-color:rgba(191, 191, 191, 0.406);
    position:relative;
    z-index: 1;
}
h1{
    text-align: center;
    color:rgb(249, 223, 174);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Calistoga', cursive;
}
#contain-btn{
    text-align: center;
    padding:10px;
}
.main-body{
    width: 100%;
    height: 100%;
  

   }
html{
    overflow-x:hidden;
    overflow-y: hidden;
    padding-left:8%;
    padding-right:8%;
  
}

