 .Date-{
    width:300px;
    height:346px;
    background-color:lightcoral;
    text-align:center;
}
.Date-Layout{
    width:300px;
    height:250px;
   text-align: center;
}

.row{
    width:100%;
} 