
h1 {
  text-align: center;
}
.rest-{
  padding:50px;
}
.rest-Layout{
  background-color:lightgrey;
  width: 700px;
  height: 1000px;
  margin: auto;
  float:right;
  padding:50px;
}
.rest{
  background-color:burlywood;
  height:700px;
}

.grid td {
  width: 80px;
  height: 80px;
  font-size: 10px;
  /* padding: 50px 30px; */
  border: 2px solid blue;
  text-align: center;
  float: right;
  margin: 5px;
}
.rest-available{
float:left;
}
.rest-reserved{
  float:right;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: lightcoral;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}

.available {
  color: #333;
}

li {
  list-style: none;
}